$bacground: black;
$first-accent: white;

* {
    all: unset;
    border-radius: 10px;
    font-family: JetbrainsMono;
    color: $first-accent;
}

tooltip {
    background-color: rgba($bacground, 0.8);
}

.circular-bar {
    background-color: rgba($first-accent, 0.15);
}

.bar{
    background-color: rgba($bacground, 0.29);
    padding: 0.4em;
}
