@import "colors.scss";

* {
    all: unset;
    font-family: monospace;
    color: $on_surface;
}

tooltip {
    background-color: rgba($background, 0.8);
}

.circular-bar {
    background-color: rgba($on_surface, 0.15);
}

.battery-charging {
    color: $primary;
    background-color: rgba($primary, 0.15);

    label {
        color: $primary;
    }
}

.battery-low {
    color: $error;
    background-color: rgba($error, 0.15);

    label {
        color: $error;
    }
}

.bar {
    background-color: rgba($background, 0.499);
    padding: 0.4em;
}
